.header{
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  position: fixed;
}

.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  font-weight: bold;
  height: 5em;
}

.brand {
  width: 8em;
  margin-right: 30em;
}

.link {
  color: white;
  text-transform: capitalize;
  display: inline;
  float: right;
  display: block;
  color: white;
  text-align: center;
  margin: 10px;
  text-decoration: none;
}

.login {
  color: rgba(255,255,255,.7);
  text-transform: capitalize;
  display: inline;
  float: right;
  display: block;
  text-align: center;
  margin: 10px;
  text-decoration: none;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: #3DD760;
}
