.list-wrapper{
  display: flex;
  flex-direction: row;
}

.list-title{
  color: #999;
  text-transform: uppercase;
  font-size: .8em;
  list-style: none;
  font-weight: bold;
  margin-bottom: 1em;
}

.list-link{
  list-style: none;
  font-weight: bold;
  margin-bottom: 2em;
}

.list-link:hover{
  cursor: pointer;
  color: rgb(61, 190, 96);
}
