.social-media{
  display: flex;
  flex-direction: row;
}

.item {
  margin-left: 1em;
  font-size: 2em;
  list-style: none;
  margin-bottom: 2em;
}

.item:hover{
  color: rgb(61, 190, 96);
  cursor: pointer;
}
